.activities-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* move 100 px down whole container */
    top: 50px;
    position: relative;
    top: 100px;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
.activity-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

